<?xml version="1.0"?>

<model>
  <name>Bin 2</name>
  <version>1.0</version>
  <sdf version="1.5">bin2.sdf</sdf>
  
  <author>
    <name>Joseph D. Galloway II</name>
    <email>josephgalloway520@gmail.com</email>
  </author>
  
  <description>
    This object is a bin meant for storing picked objects by a manipulator.
  </description>
</model>
