<?xml version="1.0"?>

<model>
  <name>Obstacle Box</name>
  <version>1.0</version>
  <sdf version="1.5">obstacle_box.sdf</sdf>
  
  <author>
    <name>Joseph D. Galloway II</name>
    <email>josephgalloway520@gmail.com</email>
  </author>
  
  <description>
    This object is a box meant to be an obstacle for a manipulator trying to motion plan.
  </description>
</model>
