<?xml version="1.0"?>

<model>
  <name>Object Box</name>
  <version>1.0</version>
  <sdf version="1.5">object_box.sdf</sdf>
  
  <author>
    <name>Joseph D. Galloway II</name>
    <email>josephgalloway520@gmail.com</email>
  </author>
  
  <description>
    This object is a box meant for grasping and relocating using a manipulator.
  </description>
</model>
